@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
}

html, body {
  margin: 0;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.divbody {
  width: 100%;
  height: 100%;
}

.ASII-Title {
  margin-top: 30px;
}

.ASII-Logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  margin-top: 50px;
  margin-bottom: 25px;
}

.Punctaj {
  font: bold;
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: -1.5px;
}

.ASII-Logo {
  width: 150px;
  height: 150px;
  background: url(Imagini/ASII_A_-_color-removebg-preview.png) no-repeat center center;
  background-size: 150px;
  align-self: center;
  border: 3px solid black;
  border-radius: 50px;
  box-shadow: 3px 3px 1px black;
  margin-left: 10%;
}

.ASII-Logo:hover {
  cursor: pointer;
  box-shadow: inset 3px 3px 1px black;
}

.Shop-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .Shop-container {
    grid-template-columns: 23% 23% 23%;
    grid-template-rows: auto;
  }
}

.boxshop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(to right, red, black);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
}

@media (min-width: 768px) {
  .boxshop {
    flex-direction: row;
  }
}

#PROimg {
  background: url(Imagini/BibliotecaraPRO.jpg) no-repeat center center;
  background-size: cover;
}

#PRMimg {
  background: url(Imagini/ZanaPRM.jpg) no-repeat center center;
  background-size: cover;
}

#RIimg {
  background: url(Imagini/ElfRI.jpg) no-repeat center center;
  background-size: cover;
}

#ITimg {
  background: url(Imagini/VrajitorIT.jpg) no-repeat center center;
  background-size: cover;
}

#REimg {
  background: url(Imagini/SpiridusRE.jpg) no-repeat center center;
  background-size: cover;
}

#multimg {
  background: url(Imagini/Multiplier.jpg) no-repeat center center;
  background-size: cover;
}

.image {
  width: 20%;
  height: 100%;
  border-radius: 20%;
}

@media (max-width: 768px) {
  .image {
    display: none;
  }
}

.parShop {
  width: 50%;
  font-size: 2vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .parShop {
    width: 100%;
    height: 50%;
  }
}

.buybtn {
  background-color: green;
  border-radius: 10px;
  border: 1px solid black;
  width: 30%;
  height: auto;
  padding: 10px;
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .buybtn {
    width: 100%;
    height: 50%;
  }
}

nav {
  width: 100%;
  height: 50%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


